.student-list {
    list-style: none;
    padding: 0;
    padding: 20px 250px 20px 150px;
}

.student-list li {
    border: solid 1px rgba(0, 0, 0, 0.486);
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.39);
    background-color: white;
}

.details {
    font-weight: 100;
    visibility: hidden;
}

.student-list li:hover .details {
   
    visibility: visible;
} 


.img-popover {
    width: 200px;
}

@media only screen and (max-width: 767px) {
    .student-list {
        padding: 15px 25px;
    }
    .img-popover {
        width: 100px;
    }
}

.student-button-section button {
    margin-right: 10px;
}